
html {
    font-family: "DM Serif Display", serif !important;
    background: #101935;
}

h1{
    color: #DCEDFF;
}

#error-page{
 display: flex; 
 flex-direction: column; 
 align-items: center;
 justify-content: center;
}

p{
    color: #DCEDFF;
}

a{
    color: #DCEDFF;
}

